<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <!-- CSS Welcome Style -->
    <link rel="stylesheet" href="/css/welcome-style.css">

    <!-- SCRIPT JQUERY -->
    <script src="/js/jquery-3.5.1.js"></script>

    <!-- CSS Responsive -->
    <link rel="stylesheet" href="/css/responsive.css">

    <!-- CSS Style-tampilan-chat -->
    <link rel="stylesheet" href="/css/style-tampilan-chat.css">

    <!-- Icon Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

    <link rel="stylesheet" href="/css/style-profile.css">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- CSS Info User -->
    <link rel="stylesheet" href="/css/style-data.css">

</head>

<body>

    <nav class="navbar" id="navbar">

        <!-- Profil Chat -->

        <a class="check-data-user" style="text-decoration: none; color: #000; cursor: pointer;">
            <div class="profil-chat">
                <img src="<%= user.picture.startsWith('https') || user.picture.startsWith('http') ? user.picture : '/profile/' + user.picture %>" alt="backgrond" class="profil">
                <span><%= user.name  %></span>
                <span></span>
            </div>
        </a>

        <div class="menu-toggle">
            <input type="checkbox" id="add">
            <span class="fa fa-bars"></span>
        </div>

    </nav>

    <div class="sidebar">

        <div class="head">
            <div class="prof">
            
              <img src="<%= user.picture.startsWith('https') || user.picture.startsWith('http') ? user.picture : '/profile/' + user.picture %>" alt="background" class="profil">
              <div class="colled">

                  <span><%= user.name %></span>
                  <span><%= user.description %></span>
                  
              </div>
            </div>
            <div class="dropdown">
                <span class="fa fa-ellipsis-v icons"></span>

                <div class="link-menu">
                    <li>
                        <a id="profile-btn">Profile</a>
                    </li>

                    <li>
                        <a id="grouping" style="pointer: cursor;">New Group<a>
                    </li>

                    <li>
                        <a id="join" style="pointer: cursor;">Join Group<a>
                    </li>

                    <li>
                        <a href="/logout">Logout</a>
                    </li>

                </div>
            </div>

            <div class="menu-toggle">
                <input type="checkbox" id="remove">
                <span class="fa fa-times"></span>
            </div>
        </div>

        <!-- Tempat sidebar Contact -->
        <div class="body-contact">
            <% group.forEach(gb => { %>
            <div class="contactBar">
                <input type="hidden" value="<%= gb.id %>">
                <div class="card-contact">
                    <a style="text-decoration: none; color: #000;">
                        <img src="<%= gb.picture == "" ? '/images/profil-1.jpg' : gb.picture %>" alt="backgrond" class="profil-contact-chat">
                        <p><%= gb.name %></p>
                        <p>...</p>
                    </a>
                </div>
            </div>
            <% }) %>
        </div>
    </div>

    <div class="sidebar-data-user" id="sidebar-data-user">

        <div class="head">
            <h2>User Info</h2>

            <div class="data-toggle">
                <input type="checkbox" id="kembali">
                <span class="fa fa-times close"></span>
            </div>
        </div>

        <!-- Tempat sidebar Contact -->
        <div class="body">

            <div class="image-data-user">
                <img src="<%= user.picture.startsWith('https') || user.picture.startsWith('http') ? user.picture : '/profile/' + user.picture %>" alt="Background" class="image-top">
                <h4><%= user.name %></h4>
                <p><%= user.email %></p>
            </div>

            <div class="bio-user">
                <p><%= !user.description ? "No description" : user.description %></p>
            </div>

        </div>
    </div>

    <div class="preloader" stlye="z-index: 9999">
        <div class="loading">
            <img src="/images/autoloading.png" width="200" style="margin-left: 10px;">
            <p><i class="fa fa-spinner fa-spin"></i> Please Wait</p>
        </div>
    </div>

    <!-- Tampilan Awalan Aplikasi Chat -->
    <div class="tampilan-welcome" style="display: block;">

        <div class="head-welcome">
            <img src="/images/jaringan-icon.png" alt="" class="icons">
        </div>

        <div class="body-welcome">
            <h1>Welcome to Chat Bootcamp</h1>
            <p style="margin-top: 10px">Untuk terbuhung ke Chat Bootcamp, Pastikan jaringan anda dalam keadaan stabil!!
            </p>
        </div>

        
    </div>
    <div class="container-chat" style="display: none;">

        <div class="chattingan">
          <ul>
          </ul>
        </div>

        <nav class="navbar-bottom">
            
            <div class="tag-input">
                  <textarea type="text" id="message" class="input-chat" rows="5" cols="5" placeholder="Send message.."></textarea>
                  <button class="send" id="send"><span class="fa fa-paper-plane"></span></button>
            </div>

        </nav>
    </div>
    
    <div class="newGroup">
        <div class="content">
          <h3>New group</h3>
          <input type="text" id="groupName" placeholder="Name..">
          <div class="btns">
            <button id="newGroup">Create</button>
            <button id="cancel" style="background-color: tomato;">Cancel</button>
          </div>
        </div>
    </div>

    <div class="joinGroup">
        <div class="content">
          <h3>Join group</h3>
          <input type-"text" id="linkid" placeholder="Link">
          <div class="btns">
            <button id="joinGroup">Join</button>
            <button id="cancel-j" style="background-color: tomato;">Cancel</button>
          </div>
        </div>
    </div>

    <div class="view-profile">
        <div class="content">

            <div class="loading"><i class="fa fa-spinner fa-spin"></i> &ThickSpace; Please Wait</div>
            
            <div class="loaded">
                <div class="fill">
                  <img src="/images/dummy.png" alt="" width="100" />
                  
                  <div class="info">
                      <p><strong>Kimmy</strong></p>
                      <span class="viewbio">No bio</span>
                      <span class="age"></span>
                  </div>

                  <i class="fas fa-times"></i>
                </div>

                <div class="option">
                    <ul>
                        <li class="private">
                            <i class="fas fa-comments"></i>
                            <span>Message</span>
                        </li>
                        <li>
                            <i class="fas fa-user-friends"></i>
                            <span>Add as friend</span>
                        </li>
                        <li>
                            <i class="fas fa-phone"></i>
                            <span>Call</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="container-profile" data-aos="zoom-in-up" data-aos-duration="1000">
        <div class="head">
            <h2>Edit Profile</h2>
        </div>

        <div class="body">

            <form action="/dashboard" method="post" id="edit" enctype="multipart/form-data">

                <!-- Profile Edit -->
                <div class="image">
                    <input type="hidden" name="userid" value="<%= user.userID %>">
                    <input type="file" name="upload" id="image" style="display: none">

                    <label for="image">
                        <img src="<%= user.picture.startsWith('https') || user.picture.startsWith('http') ? user.picture : '/profile/' + user.picture %>" alt="Profile">
                    </label>
                </div>
                
                <!-- Username -->
                <label for="username">Username</label>
                <input type="text" name="username" class="data-edit" id="username" placeholder="Username..."
                    maxlength="70" required value="<%= user.name %>">

                <!-- Bio -->
                <label for="Bio">Bio</label>
                <textarea type="text" name="Bio" class="data-edit" id="Bio" placeholder="Bio....." maxlength="200"
                    style="padding-top: 10px; padding-bottom: 10px;" rows="30" colls="4"><%= user.description %></textarea>
                <!-- Tombol -->
                <div class="tombol">
                    <button class="button-submit">Update Data</button>
                </div>

            </form>

        </div>
    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    <script type="text/javascript">
      const _username = "<%= user.name  %>"
      const _email = "<%= user.email %>"
      const userid = "<%= user.userID %>"
      const _picture = "<%= user.picture%>"
      AOS.init();
      $(document).ready(function() {
          $(".preloader").fadeOut();
      })
    </script>
    <script src="/js/dashboard.js"></script>
</body>

</html>